*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;

}

img{
    max-width: 100%;
}
/* ******* 
Typography 
********** */

h1{
    margin: 0;
    font-weight: 800;
    /* font-size: 18px; */
    /* line-height: 24px; */
    /* size: 42px; */
}

h3{
    margin: 0;
    font-weight: 700;
    /* line-height: 20px; */
    /* size: 14px; */
}

h2{
    margin: 0;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    line-height: 20px;
}

h2>span,.movie-type>p{
    font-weight: 400;
    color: #111827;
    font-size: 12px;
    line-height: 20px;
}

p{
    color: #6B7280;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.movie-watchlist-div a{
    margin-left: 0.5em;
    color: #363636;
}
/* ******* 
Layout 
********** */

.container{
    max-width: 550px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

header{
    padding: 0 1em;
    background-image: url('./icons/unsplash.jpg');
    background-position:50% 25%;
    background-size: cover;
    background-blend-mode:multiply;
    height: 30vh;
    background-color: #404040;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* 
#input-div img{
    max-width: 20px;
} */

main{
    min-height: 70vh;
    /* background-color: magenta; */
    padding: 0 1em;

}

#input-div{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input-div input{
    background-image: url(./icons/search.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode:exclusion;
    border: 1px solid #D1D5DB;
    border-radius: 6px 0px 0px 6px;
    /* padding-left:30px; */
    width: 70%;
    padding: 0.5em 1em 0.5em 3em;
    margin-top: -1em;
}
#search-btn{
    padding: 0.5em 1.25em;
    background: #F9FAFB;
    /* gray/300 */
    border: 1px solid #D1D5DB;
    border-radius: 0px 6px 6px 0px;
    margin-top: -1em;
    cursor: pointer;
}
#movies-div{
    /* background-color: aquamarine; */
    height: 90%;
    margin-top: 2em;
}
#movies-start{
    /* height: 100%; */
    min-height: 60vh;
    background-color: magenta;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}
#movies-start h3{
    margin-top: 0.5em;
    color: #DFDDDD;
    max-width: 450px;
    text-align: center;
    margin-bottom: 0.5em;
}
.movie-poster{
    border: 1px solid;
    width: 100px;
    height: calc(100px*3/2);
    /* width: 70%; */
    background-color: orange;
}
.movie-poster img{
    width: 100%;
    height: 100%;
}

.movie-body{
    /* background-color: magenta; */
    width: 80%;
}
.movie-card{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
    border-bottom: 1.5px solid #E5E7EB;
    margin-bottom: 2em;
}
/* .movie-header h2{
    margin-top: 0;
    margin-bottom: 0;
} */
.movie-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em 1em;
}
.movie-type{
    display: flex;
    align-items: center;
}
.movie-details,.movie-type p{
    margin-top: 0;
    margin-bottom: 0;
}

.addbtn{
    border: none; 
    background: #ffffff;
    cursor: pointer;
    /* padding: 0.3em; */
}
.addimg{
    max-width: 20px;
    border-radius: 50%;
    /* padding: 0;
    margin: 0; */
}
.movie-watchlist-div{
    margin-left: 20px;
    display: flex;
    cursor: pointer;
}

.btn-disable{
    cursor:not-allowed;
}